img {
  width: 50px;
  opacity: 0.6;
}

img.active {
  opacity: 1;
}

.card-images-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.form-container {
  width: 300px;
  margin: auto auto;
}

.form-input {
  height: 25px;
}

input[type="submit"] {
  height: 31px;
  background-color: rgb(45, 195, 45);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: rgb(45, 178, 45);
}